extends layout

block content
 h1= title

 p #[strong Title : ] #{book.title}
 p #[strong Author : ] #{book.author.name}
 p #[strong Summary : ] #{book.summary}
 p #[strong ISBN : ] #{book.isbn}
 p #[strong Genre : ] #{book.genre.length}
       
       
       
     
    