extends layout

block content
  h1= title
  p Welcome to #{title} 

  h1 Library Contents

  ul 
   li #[strong Books : ] !{data.book_cnt}
   li #[strong Copies : ] !{data.book_instance_cnt}
   li #[strong Copies Available : ] !{data.book_instance_available_cnt}
   li #[strong Authors : ] !{data.author_cnt}
   li #[strong Genre : ] !{data.genre_cnt}



